<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'>Jared Barresi</div>
<div class='content'>
<div class='desc'>Software Developer and Computer Scientist</div>
</div>
</section>